<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple UI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="styles.css" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="logo_dark.svg">
</head>
<body hx-ext="htmx-test">
<!-- body width -->
<div class="xl:w-[1080px] lg:w-[980px] md:w-[700px] sm:w-[600px] w-full mx-auto">
	<!-- page 1 -->
	<div id="problem1" class="page border border-gray-300 rounded-md shadow-xl flex flex-wrap my-[2vh]">
		<!-- left half -->
		<div class="sm:w-1/2 w-full sm:border-r sm:border-b-0 border-b border-gray-300 min-h-[96vh]">
			<!-- header -->
			<div id="intro" class="p-3">
				<h4 class="text-2xl font-semibold mb-5">SPAs without Javascript</h4>
				<p class="mb-3">
					Did you know you can create Single Page Applications (SPAs) without Javascript?
				</p>
				<p class="mb-6">
					Try SimpleUI for a for a smoother, more productive workflow. Simple UI is based on Clojure,
					<a href="https://tryclojure.org" target="_blank">take a quick look</a>
					if you have not used Clojure before.
				</p>

				<button
					class="ml-6 rounded-lg bg-clj-blue py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-clj-blue/20 transition-all hover:shadow-lg hover:shadow-clj-blue/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					_="on click take .hidden from #subproblem1 for #intro"
				>
					Start Tutorial
				</button>

				<a
					href="http://whamtet.github.io/ctmx/"
					class="ml-6 rounded-lg bg-clj-green py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-clj-green/20 transition-all hover:shadow-lg hover:shadow-clj-green/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
				>
					Docs
				</a>
			</div>
			<div id="subproblem1" class="p-3 hidden">
				<h4 class="text-2xl font-semibold mb-5">Display with Hiccup</h4>
				<p class="mb-3">
					Simple UI uses
					<a href="https://github.com/weavejester/hiccup" target="blank">hiccup</a>
					to render HTML server side.  Fix the code and run the tests.
				</p>

				<button
					id="tests0-run"
					class="mb-5 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					hx-post="main"
					hx-target="#output0"
					hx-after="#tests0"
				>
					Run tests
				</button>

				<p id="tests0-finish" class="hidden pb-5 mb-2 border-b border-gray-300">
					Good effort!
					<a
						href="#problem2"
						class="ml-6 rounded-lg bg-clj-green py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-clj-green/20 transition-all hover:shadow-lg hover:shadow-clj-green/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					>
						Next problem
					</a>
				</p>

				<div id="tests0" class="flex flex-col gap-2">
					<code>/*hl*/ let idElement = $('#my-id');</code>
					<div><code class="mr-3">/*hl*/ assert(exists(idElement))</code><span id="tests00"></span></div>
					<code>/*hl*/ let classElement = $('.my-class');</code>
					<div><code class="mr-3">/*hl*/ assert(exists(classElement))</code><span id="tests01"></span></div>
					<code>/*hl*/ let innerText = classElement.innerText;</code>
					<div><code class="mr-3">/*hl*/ assert(innerText === 'my text')</code><span id="tests02"></span></div>
				</div>

			</div>
		</div>
		<div class="sm:w-1/2 w-full p-3 min-h-[96vh]">

			<code class="border-b border-gray-300">Source</code>
			<div id="editor0" class="editor w-full h-1/2">(defcomponent ^:endpoint main [req]
  [:div#my-id.my-class "my text"])
			</div>

  		<div class="border-b border-gray-300 mb-6">
	  		<code>Code Output</code>
  		</div>
			<div id="output0"> </div>
		</div>
	</div>

	<div id="problem2" class="page border border-gray-300 rounded-md shadow-xl flex flex-wrap my-[2vh]">
		<!-- left half -->
		<div class="sm:w-1/2 w-full sm:border-r sm:border-b-0 border-b border-gray-300 min-h-[96vh]">
			<!-- header -->
			<div class="p-3">
  			<h4 class="text-2xl font-semibold mb-5">You say 'Goodbye' and I say 'Hello'</h4>
	  		  <p class="mb-3">
		  	    The key idea of SimpleUI is to expose UI components as endpoints.  Each one can update on
			  		its own, just as if it was a frontend component.  Unlike with frontend frameworks there
				  	is no js bundle because everything is rendered server side.
  				</p>
	  		  <p class="mb-3">
		  			Fix the code so that 'Goodbye' becomes 'Hello'.
			  	</p>

				<button
					id="tests1-run"
					class="mb-5 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					hx-post="main"
					hx-target="#output1"
					hx-after="#tests1"
				>
					Run tests
				</button>

				<p id="tests1-finish" class="hidden pb-5 mb-2 border-b border-gray-300">
					Good effort!
					<a
						href="#problem3"
						class="ml-6 rounded-lg bg-clj-green py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-clj-green/20 transition-all hover:shadow-lg hover:shadow-clj-green/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					>
						Next problem
					</a>
				</p>

				<div id="tests1" class="flex flex-col gap-2">
					<code>/*hl*/ let greetInput = $('#greet');</code>
					<div><code class="mr-3">/*hl*/ assert(exists(greetInput))</code><span id="tests10"></span></div>
					<code>/*hl*/ greetInput.value = 'Fred';</code>
					<code>/*hl*/ let greetSubmit = $('#submit-greeting');</code>
					<div><code class="mr-3">/*hl*/ assert(exists(greetSubmit))</code><span id="tests11"></span></div>
					<code>/*hl*/ await click(greetSubmit);</code>
					<code>/*hl*/ let responseDiv = $('#response');</code>
					<div><code class="mr-3">/*hl*/ assert(exists(responseDiv))</code><span id="tests12"></span></div>
					<div><code class="mr-3">/*hl*/ assert(responseDiv.innerText === 'Hello Fred')</code><span id="tests13"></span></div>
				</div>
			</div>
		</div>
		<div class="sm:w-1/2 w-full p-3 min-h-[96vh]">

			<code class="border-b border-gray-300">Source</code>
			<div id="editor1" class="editor w-full h-1/2">(defcomponent ^:endpoint greeting [req my-name]
 [:div#response "Goodbye " my-name])

(defcomponent ^:endpoint main [req]
 [:form {:hx-post "greeting" :hx-target "#response"}
  [:label "What is your name?"]
  [:input#greet {:type "text" :name "my-name"}]
  [:input#submit-greeting {:type "submit"}]
  (greeting req "")])
			</div>

			<div class="border-b border-gray-300 mb-6">
				<code>Code Output</code>
			</div>
			<div id="output1"> </div>
		</div>
	</div>
	<div id="problem3" class="page border border-gray-300 rounded-md shadow-xl flex flex-wrap my-[2vh]">
		<!-- left half -->
		<div class="sm:w-1/2 w-full sm:border-r sm:border-b-0 border-b border-gray-300 min-h-[96vh]">
			<!-- header -->
			<div class="p-3">
				<h4 class="text-2xl font-semibold mb-5">
					<a href="https://htmx.org" target="_blank">HTMX</a> Frontend
				</h4>
				<p class="mb-3">
					Htmx is what gives SimpleUI its superpowers. In particular you can use
					<a href="https://htmx.org/reference/#attributes" target="_blank">htmx attributes</a>
					which start with <b>hx-*</b> to control UI.
				</p>
				<p class="mb-5 border-b">
					By default each <i>defcomponent</i> updates itself.
					Set <b>hx-target</b> so that it updates the adjacent div instead.
					Tests will start when you click the button under <code>Code Output</code>.
				</p>

				<div
					id="tests2-run"
					hx-post="main"
					hx-target="#output2"
					hx-trigger="intersect,click delay:0.5s"
				>
				</div>

				<p id="tests2-finish" class="hidden pb-5 mb-2 border-b border-gray-300">
					Good effort!
					<a
						href="#problem4"
						class="ml-6 rounded-lg bg-clj-green py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-clj-green/20 transition-all hover:shadow-lg hover:shadow-clj-green/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					>
						Next problem
					</a>
				</p>

				<div id="tests2" class="flex flex-col gap-2">
					<code>/*hl*/ let greetInput = $('#greet');</code>
					<div><code class="mr-3">/*hl*/ assert(exists(greetInput))</code><span id="tests20"></span></div>
				</div>
			</div>
		</div>
		<div class="sm:w-1/2 w-full p-3 min-h-[96vh]">

			<code class="border-b border-gray-300">Source</code>
			<div id="editor2" class="editor w-full h-1/2" watch>(defcomponent ^:endpoint component1 [req]
  [:div.component1 "hi"])

(defcomponent ^:endpoint component2 [req]
  [:div.component2 "there"])

(defcomponent ^:endpoint main [req]
  [:div
    [:button {:hx-post "component1"
				      :hx-target ".component1"}
      "Click me!"]
		(component1 req)
		(component2 req)])
			</div>

			<div class="border-b border-gray-300 mb-6">
				<code>Code Output</code>
			</div>
			<div id="output2"> </div>
		</div>
	</div>
</div>
<script src="router.js"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
<script src="htmx-test.js"></script>
<script src="ace.js" type="text/javascript" charset="utf-8"></script>
<script src="tests.js"></script>
<script src="editors.js"></script>
<script>
	// _hyperscript.evaluate('take .hidden from #problem1 for #intro');
</script>
</body>
</html>
